#plumbingOuter{
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#plumbing{
    position:relative;
}
.plumbNode{
    position: absolute;
    display: inline-block;
    //width: 183px;
    //border: 1px solid black;
    padding: 25px 5px 5px;
    margin: 10px;
    background-color: rgba(127,255,127,.5);
}

.plumbNode[data-nodetype=Carrier], .plumbNode[data-nodetype=Modulator]{
    background-color: rgba(127,127,255,.5);
    padding-bottom:25px;
}
.plumbNode label{
    width: 113px;
    display: inline-block;
}
.plumbNode input{
    width: 35px;
}
.plumbNode select{
    margin-bottom: 5px;
}

.controlsDiv{
    padding:5px 0;
}
.plumbNode[data-nodetype=Carrier] .controlsDiv, 
.plumbNode[data-nodetype=Modulator] .controlsDiv,
.plumbNode[data-nodetype=Biquad] .controlsDiv{
    border: 1px dotted gray;
    padding: 5px;
    position:relative;
    margin: 10px 0px;
    min-height:18px;
}
.controlsDiv.pitchControls{
    padding-top: 10px;
}
.controlsHeader{
    background-color: rgb(192,192,255);
    display: inline-block;
    position: absolute;
    top: -13px;
}
[data-hint]{
    position:relative;
}
[data-hint]:hover::after{
    vertical-align: top;
    display: inline-block;
    position: absolute;
    content: attr(data-hint);
    border: 1px solid orangered;
    background-color: orange;
    padding: 5px;
    margin-left: 10px;
    opacity: .8;
    border-radius: 5px;
    width: 100px;
    z-index:20;
    bottom:0px;
}
.inputDiv {
    margin-left: auto;
    margin-right: auto;
    width: 203px;
}
button.duplicate{
    float:left;
}
button.delete{
    float:right;
}
#audioContext{
    background-color: #daf;
    display: inline-block;
    padding: 10px 20px 25px;
    position: absolute;
    right: 0;
    text-align: center;
}