.synthUiDiv{
    position: absolute;
    overflow:scroll;
    /* background-color: teal; */
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    direction: rtl;
}
.plumbNode{
    position: absolute;
    display: inline-block;
    //width: 183px;
    //border: 1px solid black;
    padding: 25px 5px 5px;
    margin: 10px;
    background-color: rgba(127,255,127,.5);
}
.nodeDiv{
    position: absolute;
    background-color: yellowgreen;
    display: inline-block;
    padding: 25px 10px 5px;
    opacity: 0.9;
    white-space: nowrap;
    min-width: 80px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.3);
    direction: ltr;
}
.nodeTypeLabel{
    font-weight:bold;
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
}
.nodeDiv label {
    display: inline-block;
    width: 115px;
}
table.paramsDiv{
    width:100%;
}
.paramsDiv td:last-child{
    position:relative;
    min-width:75px;
}
.paramsDiv input{
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
}
.nodeDiv canvas{
    background-color: rgba(0,0,0,0.7);
}
#AudioContext.nodeDiv {
    right: 0;
    top: 0;
}
._jsPlumb_overlay {
    pointer-events: none;
    z-index:240;
    transform: translate(-26%, 50%) rotate(45deg)!important;
}
._jsPlumb_connector{
    z-index: -1;
}
[data-hint]{
    position:relative;
}
.tooltip{
    position:absolute;
    background-color:orange;
    border: 1px solid orangered;
    width:200px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.3);
}
.instrumentTestDiv *:first-child{
    margin-left: 5px;
}
.instrumentTestDiv input{
    width: 50px;
    margin-right: 5px;
    margin-left: 2px;
}
/*[data-hint]:hover::after{
    vertical-align: top;
    display: inline-block;
    position: absolute;
    content: attr(data-hint);
    border: 1px solid orangered;
    background-color: orange;
    padding: 5px;
    margin-left: 10px;
    opacity: .8;
    border-radius: 5px;
    width: 200px;
    z-index:20;
    bottom:0px;
    white-space: normal;
}
label[data-hint]:hover::after{
    right: 100%;
    margin-left:0;
}*/
.floatParamUi .radio {
    display: inline-block;
    padding: 2px 0;
    text-align: center;
    width: 14px;
    border: 1px solid black;
}
.floatParamUi .radio.active {
    background-color: rgba(0,0,0,0.1);
}
.floatParamUi .radio.c{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 0px;
}
.floatParamUi .radio.f{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0px;
    margin-right: 10px;
}
.floatParamUi input.error{
    border-color: red;
}
.visualizerCanvasDiv{
    /* background-color:goldenrod; */
}
.nodeTypeLabel .fa{
    position: absolute;
    
    
}
.contract{
    right: 0px;
    top: 8px;
}
.expand{
    right:0px;
    top:8px;
}
.duplicate{
    top: 8px;
    left: 0px;
}
.delete{
    top: 8px;
    left: 22px;
}
.jsplumb-droppable.active{
    border:1px solid blue;
}
.nodeDiv[data-nodeid=Destination]{
    right: 7px;
    top: 7px;
    padding: 20px 20px 15px;
}

.targetFlex{
    display: flex;
    min-width: 100%;
    margin: 5px -10px -5px;
}
.targetFlex div{
    border: 1px solid black;
    border-left: 0px none;
    flex: 1 1 auto;
    text-align: center;
    padding: 0 2px;
}
.targetFlex div:first-child{
    border-left: 1px solid black;
}

.buttonMimic, button, input[type=button]{
    border-radius: 5px;
    background: linear-gradient(180deg, #eee,#ccc);
    padding: 3px 3px;
    text-align: center;
    border: 1px solid gray;
    font-size: 0.68em;
    vertical-align: baseline;
    cursor: default;
}

