/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 11:37:45 PM
    Author     : bclinthall
*/

.tabContainer{
    position: absolute;
    overflow:hidden;

}
.tabBodies{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 33px;
}
.tabBody{
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.tabHeader {
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    margin: 7px 5px -2px;
    padding: 5px 2px 4px;
    position: relative;
    cursor: default;
}
.tabHeaderBar * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabHeader.active {
    border-bottom: 1px solid white;
    margin: 7px 5px -2px;
    padding: 5px 2px 4px;
}


.tabHeaderBar{
    white-space: nowrap;
    left: 0;
    right:0;
}
.tabHeaderBar, .tabHeaderBarSpacer{
    background-color: #ddd;
    border-bottom: 1px solid black;
    height: 35px;
    position: absolute;
}
.tabHeaderBarSpacer{
    z-index: 1;
}

.tabHeaders {
    height: 35px;
    position: relative;
    white-space: nowrap;
}


.tabHeaders{
    right: 0;
}
.tabScrollControl.left {
    left: 0;
}
.tabScrollControl.right {
    right: 0;
}
.tabScrollControl {
    background-color: #ddd;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    opacity: 0.85;
    padding: 0 5px;
    position: absolute;
    top: 0;
    z-index: 2;
}

/*unique*/
/*.tabScrollControl.right {
    right: 500px;
}*/
